<div class="pagination">
    <button class="pagination-arrow" (click)="previousPage()" [disabled]="currentPage === 0">
      <span class="arrow-icon">&#10094;</span>
    </button>
  
    <div class="page-numbers">
      <ng-container *ngFor="let page of getVisiblePages()">
        <button class="page-number" [class.active]="currentPage === page" (click)="goToPage(page)">
          {{ page + 1 }}
        </button>
      </ng-container>
    </div>
  
    <button class="pagination-arrow" (click)="nextPage()" [disabled]="currentPage === totalPages - 1">
      <span class="arrow-icon">&#10095;</span>
    </button>
  </div>
  