<div class="reset-container">
  <div class="reset-right">
    <span class="title">Créer un nouveau mot de passe</span>
    <h2 class="subtitle">Saisissez un nouveau mot de passe sécurisé.</h2>
    <div class="reset-form" [ngClass]="{'showing-requirements': showingRequirements()}">      
      <form #resetForm="ngForm" (ngSubmit)="onSubmit()">
        <!-- Champ Nouveau mot de passe -->
        <div class="form-group password-container">
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="passwordInput"
            placeholder="Nouveau mot de passe"
            class="form-control"
            [(ngModel)]="password"
            name="password"
            #passwordInput="ngModel"
            required
            (input)="checkPasswordValidity()"
            aria-label="Entrez votre nouveau mot de passe"
            title="Entrez votre nouveau mot de passe"
            aria-describedby="passwordError">
          <img class="password-toggle"
            (click)="togglePasswordVisibility()"
            [src]="'assets/svg/oeil-icon.svg'"
            alt="Toggle password visibility"
            title="Basculer la visibilité du mot de passe"
            width="24" height="24">
        </div>
        <!-- Champ Confirmer le mot de passe -->
        <div class="form-group password-container">
          <input
            [type]="showConfirmPassword ? 'text' : 'password'"
            id="confirmPasswordInput"
            placeholder="Confirmer le mot de passe"
            class="form-control"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            #confirmPasswordInput="ngModel"
            required
            (input)="checkPasswordValidity()"
            aria-label="Confirmez votre nouveau mot de passe"
            title="Confirmez votre nouveau mot de passe"
            aria-describedby="confirmPasswordError confirmPasswordMatchError">
          <img class="password-toggle"
            (click)="toggleConfirmPasswordVisibility()"
            [src]="'assets/svg/oeil-icon.svg'"
            alt="Toggle password visibility"
            title="Basculer la visibilité du mot de passe"
            width="24" height="24">
        </div>
        <!-- Instructions de création de mot de passe - n'afficher que si le mot de passe n'est pas valide -->
        <div class="password-requirements" *ngIf="showingRequirements()">
          <ol>
            <li>Longueur : Le mot de passe doit généralement contenir au moins 8 à 12 caractères.</li>
            <li>Majuscules et minuscules : Utilisez à la fois des lettres majuscules et minuscules.</li>
            <li>Chiffres : Incluez des chiffres pour renforcer la sécurité.</li>
            <li>Caractères spéciaux : Ajoutez des symboles comme !, &#64;, #, $, %, etc.</li>
            <li>Pas de mots évidents : Évitez d'utiliser des mots courants ou des informations personnelles (comme votre nom ou votre date de naissance).</li>
          </ol>
        </div>
        <button
          type="submit"
          class="submit-btn"
          [disabled]="resetForm.invalid || password !== confirmPassword"
          aria-label="Réinitialiser le mot de passe"
          title="Réinitialiser le mot de passe">
          Réinitialiser
        </button>
      </form>
    </div>
  </div>
</div>